.emoji {
  font-size: 100px;
}

.icon {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 4px;
  width: 24px;
  height: 24px;
}

.icon-email {
  background-image: url('../icons/email.svg');
}
.icon-external {
  background-image: url('../icons/external.svg');
}
.icon-github {
  background-image: url('../icons/github.svg');
}
.icon-html {
  background-image: url('../icons/html.svg');
}
.icon-nodejs {
  background-image: url('../icons/nodejs.svg');
}
.icon-npm {
  background-image: url('../icons/npm.svg');
}
