#content {
  padding-left: 300px;
}

@media only screen and (max-width : 992px) {
  #content {
    padding-left: 0;
  }
}

.icon {
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: contain;
}

.icon-account {
  background-image: url('../images/icons/account-circle.svg');
}

.icon-code {
  background-image: url('../images/icons/code-tags.svg');
}

.icon-email {
  background-image: url('../images/icons/email.svg');
}

.icon-github {
  background-image: url('../images/icons/github-circle.svg');
}

.icon-menu-white {
  background-image: url('../images/icons/menu-white.svg');
}

.icon-open-in-new {
  background-image: url('../images/icons/open-in-new.svg');
}
